.main-bg{
    background-image: url('../img/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white);
}

.white-bg-section{
    background: var(--white); 
    color: var(--primary-color);
}

.main-content{

    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.section{
    min-height: 100vh;
}

.menu-spacing{
    height: 65px;
}

body .full-width{
    width: 100%;
    flex: 1 1 100%;
}

.intro-heading{
   
  color: var(--secondary-clor);
  font-size: 3.5rem;
}

.p-testeQA a:hover{
    color: var(--secondary-clor);
    
}

.buttonInputs{
    color: var(--white);
    background-color: var(--secondary-clor);
    border: none;
    border-radius: 0.3rem;
    margin: 0.1rem;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5REM;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8rem;
}


.inputsTreinamento {
    
    background-color: rgba(7, 8, 106, 0.6);
    display: flex;
    border-radius: 0.5rem;
    width: 30rem;
    height: 10rem;
    
}

.inputsTreinamento input{
    margin: 0.1rem;
}

.p-inputsTreinamento{
    font-size: 1.5rem;
}





  
  

  
  
  
  